<h1>Tarefas Cadastradas</h1>
<ul>
  {{#each tasks}}
    <li>
      <div class="task-container">
        {{#if this.done}}
          <a href="#" class="done-task">{{this.title}}</a>
        {{else}}
          <a href="#">{{this.title}}</a>
        {{/if}}
        <div class="actions-container">
          {{#if this.done}}
            <form action="/tasks/done" method="post">
              <input type="hidden" name="id" value="{{this.id}}">
              <input type="hidden" name="done" value="{{this.done}}">
              <button type="submit">
                <i class="bi bi-check-circle"></i>
              </button>
            </form>
            <form action="/tasks/delete" method="post">
              <input type="hidden" name="id" value="{{this.id}}">
              <button type="submit">
                <i class="bi bi-x-lg"></i>
              </button>
            </form> 
          {{else}}
            <form action="/tasks/done" method="post">
              <input type="hidden" name="done" value="{{this.done}}">
              <input type="hidden" name="id" value="{{this.id}}">
              <button type="submit">
                <i class="bi bi-check-lg"></i>
              </button>
            </form>
            <a href="/tasks/edit/{{this.id}}">
              <i class="bi bi-pencil-square"></i>
            </a>
            <form action="/tasks/delete" method="post">
              <input type="hidden" name="id" value="{{this.id}}">
              <button type="submit">
                <i class="bi bi-x-lg"></i>
              </button>
            </form>    
          {{/if}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>